@page
@model CustomerModel
@{
    ViewData["Title"] = "Customer page";
}

<div class="text-center">
    <h1 class="display-4">Customer Page!!!</h1>
    <p>Customer Name: @Model.StatusMessage</p>
</div>
